.mainForm{
    @apply min-h-screen flex flex-col items-center justify-center bg-gray-100;
}
.mainBg{
    @apply bg-white p-8 rounded shadow-md w-full max-w-md
}
.title{
    @apply text-2xl text-gray-800 font-semibold mb-4 text-center;
}
.label{
    @apply block text-gray-700;
}
.inputField{
    @apply w-full px-3 py-2 border rounded text-gray-500;
}
.submit{
    @apply w-full bg-blue-500 text-white py-2 rounded hover:bg-blue-700 transition duration-200;
}

.curvedUnderline {
    position: relative;
}

.curvedUnderline::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    height: 7px;
    width: 100%;
    border: solid 2px #e8182d;
    border-color: #e8182d transparent transparent transparent;
    border-radius: 50%;
}